<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Music Bot Request Form</title>
</head>
<body>
    <h1>Discord Music Bot Request Form</h1>
    <a href="/login/user"><button>User Login</button></a>
    <a href="/login/admin"><button>Admin Login</button></a>
    <hr>
    <a href="/register"><button>Register User</button></a>
    <a href="/register/admin"><button>Register Admin</button></a>
</body>
</html>